
.card-div:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.image-up{
  transition: all 0.2s ease-in-out;
  transform: scale(1.1)!important;

}
/* .image-up{
  transform: scale();
  z-index: 9999999px;
} */