.form-pop-up{
    width: 30vw!important;
    position: fixed;
    height: fit-content!important;
    overflow-y: hidden;
    top: 10%;
    right: 30%;
    z-index: 69;
    background: #f7f6f600;
    border-radius: 10px;
    /* border: solid 0.3rem rgba(11, 70, 199, 0.932); */

}
.form-pop-up input[type="text"] , .select{
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem 1.3rem;
    margin-top: 1vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 7.5px;
}
.form-pop-up button{
    font-size: 1rem!important;
    background: #EF5023!important;
    
}
.pop-up-title{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
    font-size: 1rem!important;
 
}
.pop-up-title i{
    font-size: 1rem;
    cursor: pointer;
}
.children-forms{
    padding: 0px 10px 0px 10px;
    overflow-y: scroll !important;
    height: 90%;
    border: 1px solid #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6)!important;
    backdrop-filter: blur(10px);

}
.form-image{
    text-align: center;
    padding-top: 20px;
    position: relative;
}
.form-image img{
    border-radius: 50%;
    height: 100px;
    width:100px;
    object-fit: cover;
    
    
}
.pwd-container {
    position: relative;
  }
  
  .pwd-container input {
    padding: 17px !important;
    font-size: 16px!important;
  }
  
  .pass-show {
    cursor: pointer;
    position: absolute!important;
    width: 20px!important;
    left: 29rem!important;
    top: 2.5px!important;
    font-size: 2rem!important;
    color: rgb(92, 83, 83);
  }