.card-div{
  transform: scale(1.0);
  color: black;
}
.breadcrumb{
  margin-bottom: 0px!important;
}
.nav-scroll .show {
  flex-direction: column!important;
}
.card-div:hover{
transition: all 0.2s ease-in-out;
transform: scale(0.999);
color: black!important;
}
.card-div-button{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.main-page-burger {
  height: 17.5rem;
  width: 17.5rem;
}
.res-but{
 color: black !important;
 background-color: transparent !important;
 border: 1px solid black !important;
 margin-bottom: 10px;
 height: fit-content;
 font-size: 13px!important;
 
}
.res-but-active, .res-but:hover{
  color: white !important;
  background-color: #EF5023 !important;
  border: 1px solid #EF5023 !important;
  margin-bottom: 10px;
  height: fit-content;
  font-size: 13px!important;
}

.res-tab{
  color: gray !important;
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid gray !important;
  padding: 5px 10px;
 }
 .res-tab-active, .res-tab:hover{
  color: black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #EF5023 !important;
  font-weight: 500;
  background-color: #ef4f232a;
  padding: 5px 10px;

 }
 .book-form{
  width: 30vw !important;
  font-size: 1.2rem;
  padding: 0.2rem 1.0rem !important;
  border: 2px solid#EF5023 !important;
  margin-top: 0vh !important;
  margin-bottom: 2vh !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
 }
 .restaurant__register__bg{
   background-image: url('../img/Pizza3.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
 }
 .bg__booking__form{
    background-image: url('../img/reserved.jfif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
 }
 .rider__register__bg{
  background-image: url('../img/rider.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
 .restaurant__register__form__bg {
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(10px);
 }
 .dashboard__bg{
  background-image: url('../img/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
 }
 .banner{
  background-image: url('../img/bannerRes.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
 }
 .banner2{
  background-image: url('../img/banner2bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
 }
 .res__img__map__div{
   /* background-image: url('../img/BurgerS.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #f1c1b4a2;
    filter: blur(2.5px);
 }
 .rotation {
  animation: spin 1s linear infinite;
 }
 @keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
#spoon{
  animation: spoonAnim 3s ease-in-out infinite;

}
@keyframes spoonAnim {
  0% {
      transform:translateX(0%) rotate(0deg) ;
  }
  50% {
      transform:translateX(10%) rotate(5deg);
  }
  100% {
      transform:translateX(0%) rotate(0deg);
  }
}
#fork{
  animation: forkAnim 3s ease-in-out infinite;

}
@keyframes forkAnim {
  0% {
      transform:translateX(0%) translateY(0%) rotate(0deg) ;
  }
  50% {
      transform:translateX(-10%) translateY(2%) rotate(-3deg);
      
  }
  100% {
      transform:translateX(0%) translateY(0%) rotate(0deg);
  }
}
