.popup-main{
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.541);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 50;
    overflow-y: scroll;
    padding-top: 5vh;
}
.popup-inner{
    width: 60%;
    margin: auto;
    
}

.p-card{
    background-color: rgba(0, 0, 0, 0.247)!important;
    color: white;
    margin-bottom: 50px;


}
.p-image{
    width: 100px;
    height: 120px;
    object-fit: contain;
}

.price{
    background-color: rgb(255, 0, 0);
    border-radius: 40px;
    padding: 5px 20px;
    position: absolute;
    top: -35px;
    right: 10px;
}
.toggle-btn{
    position: fixed;
    top:30px;
    right: 50px;
    z-index: 51;
    color: white;
    font-size: 2rem;
}
#checkout-btn{
    background-color: #ef5023;
    width: 45%;
    border: none;
    color: white;
    font-size: 2rem;
    bottom: 10%;
    border-radius: 10px;
    padding: 0.4rem 2.6rem;
    margin: 1rem 0rem;
}
#checkout{
    text-align: right;
}
.cart-style{
    font-size: 2rem;
}
.total-style{
    font-size: 2rem;
    text-align: right;
    width: fit-content;   
    float: right;
}
#total-style-h1{
    margin-left: 15%;
}
.c-image{
    width: 60%!important;
    height: 60%!important;
}
#quantity-stylee-input{
    width: 60px!important;
    height: 32.5px!important;
    margin: 0px;
    font-size: 1rem;
    border-radius: 5%;
    border: solid 0.1rem #ef5023;
}
#quantity-style-div{
    width: fit-content;
    height: fit-content;
}
#q-button-1{
    background-color: #ef5023;
    color: white;
    border: none;
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
    padding: 5px 10px;
}
#q-button-2{
    background-color: #ef5023;
    color: white;
    border: none;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    padding: 5px 10px;
}
.active-status{
    background-color: #17D614;
}
.inactive-status{
    background-color: #f21818!important;
}
#status-toggle{
    font-size: 2rem!important;
}
.toggle-status{
    font-size: 2rem!important;
    margin: 20% 30%;
}