.icon{
    position: absolute;
    left: 460px;
}
.input1{
  margin-top: 50px;
  margin-left: 50px;
  background-color:rgba(255, 255, 255, 0.335);
  height:50px;
  border-radius: 15px;
  color: white;
}
input::placeholder {
  color: #1c87c9;
  opacity: 1;
}
