.btn:focus{
  outline: none!important;
  box-shadow: none!important;
}
.navbar-toggler-icon {
  color: white !important;
}
div.navbar-collapse.show{
  background-color: rgba(82, 88, 88, 0.315)!important;
  
}
.navbar-toggler {
  border: 3px solid white !important;
  background-color: white !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.NavBtn:hover{
  border-radius: 0px;
  border-bottom: 1px solid black;
}
.NavLogo{
  object-fit: cover;
}

.NavLogo:hover{
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.123);

  }