<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body style=" display: flex; justify-content: center; align-items: center;">
    <div style="background-color: rgb(241, 241, 241); padding: 20px; width:50%; margin:auto; ">
    <div  style="background-color: #EF5023; padding: 5px 10px; margin: 10px 0px" >
        <p style="color: white; text-align:center; font-size:20px; font-weight:600;">Food Hawk</p>
    </div>
        <p style="font-size: 20px; font-weight: 600;">Forgot Your Password</p>
        <p>Hi there,</p> 
        Please reset your password clickling the link below:<br>
        Link: <a href={{resetlink}}>Reset Password</a> <br>
        <br>Have a fantastic day!
        <p>Your FoodHawk Team.</p>
        <div style="background-color: #EF5023; color: white; padding: 5px 10px; margin:10px 0px; ">
            <p style="margin-bottom: 0px; text-align:center; font-size:14px;  color: white; ">Contact Us for Queries: <a href="tel:+92 336 4485594" style="color:white;">+92 336 4485594</a></p><br />
            <p style="margin-bottom: 0px; margin-top: 0px; text-align:center; font-size:10px; padding-bottom:10px;  color: white; ">2022 FoodHawk, All rights reserved.</p>
        </div>
    </div>
</body>
</html>
